{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        #plant-profile {


        }

        .infogroup {

        }

        @media screen and (max-width: 1360px){

        }
    </style>
{% endblock %}
{% block body %}
<div id="plant-profile">

</div>
{% endblock %}
