{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        #plant-profile {

            padding: 150px 32px;
            color: white;
        }

        .infogroup {
            display: block;
            margin-bottom: 32px ;
        }

        @media screen and (max-width: 1360px){
            .infogroup {
                display: none;
            }
        }
    </style>
{% endblock %}
{% block body %}
<div id="plant-profile">
    <div class="infogroup">

    </div>

</div>
{% endblock %}
