{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        #plant-profile {

            padding: 150px 32px;
            color: white;
        }

        .infogroup {
            display: block;
            margin-bottom: 32px ;
        }

        @media screen and (max-width: 1360px){
            .infogroup {
                display: none;
            }
        }
    </style>
{% endblock %}
{% block body %}
<div id="plant-profile">
    <div class="infogroup">
        <p class="bold color-primary-light">Name</p>
        <p class="light"> Maria Mustermann </p>
    </div>

    <div class="infogroup">
        <p class="bold color-primary-light">Schule</p>
        <p class="light"> Realschule</p>
    </div>

    <div class="infogroup">
        <p class="bold color-primary-light">E-Mail</p>
        <p class="light"> m.muster@gmail.com </p>
    </div>
    <div class="infogroup">
        <p class="bold color-primary-light">Telefon</p>
        <p class="light"> +49 12345 67890</p>
    </div>
</div>
{% endblock %}
