{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hallo {{ user }}</h1>
    <p>Das is dein backend. Hier kannst du ein paar Dinge erledigen.</p>
    <div>
        <h2>Deinen Steckbrief teilen</h2>
        <form action="/admin/generateLink">
            <label for="recipient">Empf채nger des Links:</label>
            <input type="text" name="recipient" id="recipient" placeholder="F체r wen ist der Link?" required>
            <br>
            <label for="expiresInDays">Link ist ung체ltig in wie vielen Tagen ?</label>
            <input type="number" name="expiresInDays" id="expiresInDays" value="30" required>
            <br>
            <label for="expiresInLinkCalls">Link ist ung체ltig nach wie vielen Aufrufen ?</label>
            <input type="number" name="expiresInLinkCalls" id="expiresInLinkCalls" value="20" required>
            <br>
            <input type="submit" value="Generieren">
        </form>
        {% if generatedLink %}
            <h3>Generierter Link:</h3> {{ generatedLink }}
        {% endif %}
    </div>
{% endblock %}