<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Praktikum</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="style.css">
    {% endblock %}

    {% block javascripts %}
        <script>

        </script>
    {% endblock %}
    <style>

    </style>
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>