{% block style %}

{% endblock %}

{% block body %}
<section id="contact" class="contact">
    {% form_theme form 'form/contact_form.html.twig' %}
    {{ form(form) }}

    {% include 'components/flash_message.html.twig' with {'id': 'contact'} %}
</section>
{% endblock %}
