{% block style %}
    <style>
        .hobby {
            background-color: rgb(var(--color-primary-darker));
            padding: 80px;
        }

        .hobby-element{
            max-width: 1024px;
            display: grid;
            grid-template-columns: 60% auto;
            grid-gap: 32px;
        }
        .hobby-cards{
            display: grid;
            grid-gap: 32px;
            width: 100%;
            grid-template-columns: repeat(2, 50%);
        }

        .hobby-text {
            width: auto;
            padding: 0 32px;
        }

        @media screen and (max-width: 1020px) {
            .hobby-element {
                display: flex;
                flex-direction: column;
            }
        }

        @media screen and (max-width: 650px){
            .hobby {
                min-height: max-content !important;
                padding: 16px;
            }
            .hobby-cards {
                grid-template-columns: repeat(1, 100%);
            }

            .hobby-text {
                padding: 0 16px;
            }
        }
    </style>
{% endblock %}

{% block body %}
    {% set hobbies = [
        {'headline': 'Lorem Ipsum',
        'content': 'Lorem Ipsum dolor sit amet.',
        'icon': 'svg/nature.svg'},
    ] %}

    <section id="hobby" class="hobby">
        <div class="hobby-element">
            <span class="hobby-cards">
                {% for item in hobbies %}
                    {% include 'components/card.html.twig' with item %}
                {% endfor %}
            </span>
            <span class="hobby-text">
                <h2> Hobbies</h2>
            </span>
        </div>
    </section>
{% endblock %}
