{% block style %}
    <style>
        .hobby {

        }

        .hobby-element{

        }
        .hobby-cards{

        }

        .hobby-text {

        }

        @media screen and (max-width: 1020px) {
            .hobby-element {

            }
        }

        @media screen and (max-width: 650px){
            .hobby {

            }
            .hobby-cards {

            }

            .hobby-text {

            }
        }
    </style>
{% endblock %}

{% block body %}
    {% set hobbies = [
        {'headline': '',
        'content': '',
        'icon': ''},

    ] %}

    <section id="hobby" class="hobby">
        <div class="hobby-element">
            <span class="hobby-cards">
                {% for item in hobbies %}
                    {% include 'components/card.html.twig' with item %}
                {% endfor %}
            </span>
        </div>
    </section>
{% endblock %}
