{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        .experience {
            background-color: rgb(var(--color-primary-darker));
            padding: 80px;
        }

        .experience-element {
            max-width: 1024px;
            display: grid;
            grid-gap: 32px;
        }

        @media screen and (max-width: 1020px){
            .experience {
                padding: 32px;
            }
        }
    </style>
{% endblock %}
{% block body %}

        {% set experiences = [
            {'headline': '',
            'content': '',
            'link': '',
            'linkText': 'T',
            'img': ''},

        ] %}
    <section id="experience" class="experience">
        <div class="experience-element">
            {% for item in experiences %}
                {% include 'components/experience/experience-content.html.twig' %}
            {% endfor %}</div>
    </section>
{% endblock %}
