{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        .experience {
            background-color: rgb(var(--color-primary-darker));
            padding: 80px;
        }

        .experience-element {
            max-width: 1024px;
            display: grid;
            grid-gap: 32px;
        }

        @media screen and (max-width: 1020px){
            .experience {
                padding: 32px;
            }
        }
    </style>
{% endblock %}
{% block body %}

        {% set experiences = [
            {'headline': 'Praktikum - Webdesign',
            'content': '2016 habe ich in einer Werbe Agentur mein 3-wöchiges Praktikum im Bereich Webdesign mit einem positiven Feedback abgeschlossen.',
            'link': 'www.hdnet.de',
            'linkText': 'zur Website von HDNET',
            'img': 'img/code.png'},
            {'headline': 'Level 3 English for Business',
                'content': 'Am Ende der zehnten Klasse habe ich mein “LCCI Certificate” erworben, welches aussagt, dass ich die Prüfung für die C1 Stufe erfolgreich bestanden habe.',
                'link': 'www.hdnet.de',
                'linkText': 'zum Cambridge Assessments C1 Exam',
                'img': 'img/english.png'}
        ] %}
    <section id="experience" class="experience">
        <h2> Erfahrungen</h2>
        <div class="experience-element">
            {% for item in experiences %}
                {% include 'components/experience/experience-content.html.twig' %}
            {% endfor %}</div>
    </section>
{% endblock %}
