<div>

    <h1>Vielen Dank!</h1>
    <p>Hier ein Zusammenfassung ihrer Bestellung: </p>
    Größe: "{{ size }}
    Farbe: "{{ color }}
    <p>Wenn ihre Bestellung versand wurde, erhalten sie eine weitere Nachricht.</p>

</div>