{% block javascripts %}
    <script>
        function onNav() {
            var element = document.getElementById("toggle");
            element.classList.toggle("toggle--on");

            var navigation = document.getElementById("menu-holder");
            navigation.classList.toggle("toggle--on");
        }
    </script>
{% endblock %}
{% block style %}
    <style>
        .nav-points {
            color: rgb(var(--color-primary-lighter));
            padding: 5px 0;
            font-size: 28px;
            line-height: 40px;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
        }


        .header-holder {
            position: fixed;
            background: rgb(var(--color-primary-dark));
            width: 380px;
            height: 100vh;
            z-index: 1;
            top:0;
        }

        .toggle-holder {
            position: fixed;
            top: 30px;
            left: 30px;
            z-index: 3;
        }

        #toggle {
            height: 32px;
            width: 30px;
            position: relative;
        }

        #toggle:before {
            transform: translate3d(0,-8px,0px);
            width: 21px;
            margin-left: 0;
            content: '';
            height: 3px;
            position: absolute;
            transform-origin: 50% 50%;
            transition: all .25s;
            top:8px;
            background: rgb(var(--color-primary-lighter));
        }
        #toggle:after {
            transform: translate3d(0,8px,0px);
            width: 30px;
            margin-left: 0;
            content: '';
            height: 3px;
            position: absolute;
            transform-origin: 50% 50%;
            top:8px;
            background: rgb(var(--color-primary-lighter));
        }

        #toggle .menu-line {
            width: 13px;
            height: 3px;
            position: absolute;
            transition: all .25s;
            margin-left: 0;
            top: 8px;
            background-color: rgb(var(--color-primary-lighter));
        }

        #toggle.toggle--on .menu-line{
            opacity: 0;
        }

        #toggle.toggle--on:before {
            transform: rotate3d(0,0,1,
            45deg) translate3d(0,0,0);
            background-color: rgb(var(--color-primary-lighter));
            margin-left: 0;
            width: 26px;
        }

        #toggle.toggle--on:after {
            transform: rotate3d(0,0,1,
            -45deg);
            background-color: rgb(var(--color-primary-lighter));
            width: 26px;
        }
        #menu-holder {
            background-color: rgb(var(--color-primary-light));
            width: 380px;
            height: 100%;
            min-height: 100vh;
            top: 0;
            left: 0;
            position: absolute;
            transform: translateX(-400px);
            transition: transform .3s linear;
            z-index: 1;
            overflow: auto;
            display: flex;
            align-items: center;
        }

        #menu-holder.toggle--on {
            transform: translateX(0);
        }

        .menu-holder--points {
            width: fit-content;
            height: fit-content;
            padding-left: 75px;
        }

        .menu-item {
            list-style: none;
        }
        .menu-item:not(:first-child) {
            margin-top: 24px;
        }

        @media screen and (max-width: 1599px){
            .header-holder {
                width: 320px;
            }

            #menu-holder {
                width: 320px;
                transform: translateX(-320px);
            }
        }
        @media screen and (max-width: 1360px){
            .header-holder {
                width: 90px;
            }
        }
        @media screen and (max-width: 1020px){
            .header-holder {
                height: 55px;
                width: 100%;
                z-index: 2;
            }

            .toggle-holder {
                top: 15px;
                left: 15px;
            }
        }

        @media screen and (max-width: 650px) {
            #menu-holder {
                width: 100%;
                transform: translateX(-100%);
                overflow: auto;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <header class="header-holder">
        <div class="toggle-holder">
            <div id="toggle" onclick="onNav()">
                <div class="menu-line"></div>
            </div>
        </div>
        <div id="menu-holder">
            <nav class="menu-holder--points">
                <ul>
                    <li class="menu-item">
                        <a onclick="onNav()" class="nav-points" href="#home">A</a>
                    </li>
                    <li class="menu-item">
                        <a onclick="onNav()" class="nav-points" href="#hobby">B</a>
                    </li>
                    <li class="menu-item">
                        <a onclick="onNav()" class="nav-points" href="#experience">C</a>
                    </li>
                    <li class="menu-item">
                        <a onclick="onNav()" class="nav-points" href="#career">D</a>
                    </li>
                    <li class="menu-item">
                        <a onclick="onNav()" class="nav-points" href="#expertise">E</a>
                    </li>
                    <li class="menu-item">
                        <a onclick="onNav()" class="nav-points" href="#contact">F</a>
                    </li>
                </ul>
            </nav>
        </div>

        {{ include('components/profile/profile.html.twig') }}
    </header>
{% endblock %}
