{% block style %}
    <style>
        .expertise {

        }
        .expertise-element{

        }
        @media screen and (max-width: 650px){

        }
    </style>
    {{ block('style', 'components/expertise/experties-item.html.twig') }}
{% endblock %}

{% block body %}
    {% set expertises = [
    ]
    %}

    <div id="expertise" class="expertise">
        <div class="expertise-element">

            {% for expertise in expertises %}
                {% with expertise %}
                    {{ block('body', 'components/expertise/experties-item.html.twig') }}
                {% endwith %}
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener('load', () => {})
    </script>
{% endblock %}
