<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Praktikum{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
    {% block style %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
