{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        .career {
            background-color: rgb(var(--color-primary-darker));
            padding: 80px;
        }

        ul.career-element {
            max-width: 1024px;
            margin: 0;
            padding: 0 0 0 64px;
            -webkit-transform: translateZ(0);
        }

        @media screen and (max-width: 1020px){
            .career {
                padding: 32px;
            }
        }
    </style>
{% endblock %}
{% block body %}
    {% set career = [
        {'date': '2010',
            'contentDate': '2010-2014',
            'content': 'ging ich in die Grundschule am See, dort habe ich mich in diversen Arbeitsgemeinschaften eingesetzt und ein Interesse für Kreativität entwickelt.',},

    ] %}
    <section id="career" class="career">
        <h2 class="text-uppercase">Werdegang</h2>
        <ul class="career-element">
            {% for item in career %}
                {% include 'components/career/timeline.html.twig' %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}
