{% extends 'base.html.twig' %}

{% block body %}
<form action="/form/submit">

    <input type="text" name="hallo">
    <input type="text" name="hallo2">
    <input type="text" name="hallo3">
    <input type="text" name="hallo4">

    <input type="submit" />
</form>
{% endblock %}