{% extends 'base.html.twig' %}

{% block body %}
    <div class="head-navigation">
        <img src="img/Logo.svg" alt="">
        <nav class="content-navigation">
            <p>Konfigurator</p>
            <p>Galerie</p>
            <p>Kontakt</p>
        </nav>
    </div>
    <header>
        <h1>Jetzt dein eigenes Fahrrad konfigurieren!</h1>
    </header>
    <div class="bike-selection">
        <aside class="selection-type">
            <a href="#" onclick="showSelection('size')">Größe</a>
            <a href="#" onclick="showSelection('color')">Rahmenfarbe</a>
        </aside>
        <section>
            <img alt="" src="img/red.png" id="bikeImg" class="bike-image">
        </section>
    </div>

    <div class="selection--wrapper">
        <!-- size-section -->
        <ul id="size" class="switch color" style="display: none">
            <li class="switch-item" onclick="changeSize('19')">
                <input type="radio" name="size" id="size-19" class="screen-readers--only" checked>
                <label for="size-19" class="switch-text">
                    "19
                </label>
                <div aria-hidden="true" class="active"></div>
            </li>
            <li class="switch-item" onclick="changeSize('20')">
                <input type="radio" name="size" id="size-20" class="screen-readers--only">
                <label for="size-20" class="switch-text">
                    "20
                </label>
            </li>
            <li class="switch-item" onclick="changeSize('21')">
                <input type="radio" name="size" id="size-21" class="screen-readers--only">
                <label for="size-21" class="switch-text">
                    "21
                </label>
            </li>
            <li class="switch-item" onclick="changeSize('22')">
                <input type="radio" name="size" id="size-22" class="screen-readers--only">
                <label for="size-22" class="switch-text">
                    "22
                </label>
            </li>
        </ul>
        <!-- Color-Section -->
        <ul id="color" class="switch color" style="display: none">
            <li class="switch-item" onclick="changeImage('red')">
                <input type="radio" name="color" id="color-red" class="screen-readers--only" checked>
                <label for="color-red" class="switch-text color-red">

                </label>
                <div aria-hidden="true" class="active"></div>
            </li>
            <li class="switch-item" onclick="changeImage('blue')">
                <input type="radio" name="color" id="color-blue" class="screen-readers--only">
                <label for="color-blue" class="switch-text color-blue">

                </label>
            </li>
            <li class="switch-item" onclick="changeImage('green')">
                <input type="radio" name="color" id="color-green" class="screen-readers--only">
                <label for="color-green" class="switch-text color-green">

                </label>
            </li>
            <li class="switch-item" onclick="changeImage('grey')">
                <input type="radio" name="color" id="color-white" class="screen-readers--only">
                <label for="color-white" class="switch-text color-grey">

                </label>
            </li>
        </ul>
    </div>
    <button onclick="buy()">Jetzt Kaufen</button>
{% endblock %}